body{background-color: rgb(207, 193, 207);}


img{height: 300px;
width: 300px;}

h1,h3,.section{display: flex;
    justify-content: center;
    align-items: center;
}

p,ul,ol{width: 600px;}

.home{color: black;
border:2px solid black;
background-color: rgb(13, 229, 13);
text-align: center;
padding-top:6px;
border-radius: 5px;
text-decoration: none;
display: block;
width:120px;
height:30px;
font-size:20px}